<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Marvel',
      }) %>

<body

<%- include('partials/header') %>
    <main>
        <!-- Card -->
        <%- include('partials/card') %>

        <!-- Pagination -->
        <%- include('partials/pagination') %>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>