<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Marvel',
      }) %>

<body

<%- include('partials/header') %>
    <main>
        <!-- Card -->
        <%- include('partials/card') %>

    </main>
    <!-- Pagination -->
    <%- include('partials/pagination') %>
    
    <%- include('partials/footer') %>
</body>
</html>