<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Marvel',
      }) %>

<body

<%- include('partials/header') %>
    <main>
        <!-- Buscador -->
       <h1 class="result">Resultados de la Búsqueda para: "<%= keywords %>"</h1>
       <article id="cartas" class="home-main-contenedor">
        <% if (results.length) { %>
            <% for(let character of results){ %>
    <div class="home_card col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img src="<%= character.thumbnail.path %>/portrait_fantastic.<%= character.thumbnail.extension %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= character.name %></h5>
              <% if (character.description && character.description.length > 100) { %>
                <p class="card-text"><%= character.description %></p>
                <button class="see-more" onclick="mostrarMas(this)">Ver más ↓</button>
              <% } else { %>
                <p class="card-text description"><%= character.description || '"Todavía no hay descripción disponible"' %></p>
              <% } %>
            </div>
          </div>
    </div>
          <% } %>
        </article>
    <% } else { %>
        <article id="cartas-no" class="home-main-no-found">
            <h2 class="no-result">Opps... No se encontraron resultados.</h2>
            <div class="no-result-img">
                <img class="img-no-found" src="https://i0.wp.com/movienooz.com/wp-content/uploads/2018/10/Deadpool-Oops.jpg?resize=800%2C445&ssl=1" alt="">
            </div>
        </article>
    <% } %>

    <a class="back" href="/"><img class="back-img" src="https://cdn-icons-png.freepik.com/512/5423/5423980.png" alt=""></a>

    </main>
    
    <%- include('partials/footer') %>

    <script>
        function mostrarMas(boton) {
          var cardBody = boton.parentNode; // Obtener el nodo padre del botón, que es el div con la clase "card-body"
          var descripcion = cardBody.querySelector('.card-text'); // Seleccionar directamente el párrafo con la descripción
          
          if (descripcion.style.maxHeight) {
            descripcion.style.maxHeight = null;
            boton.innerHTML = 'Ver más ↓';
          } else {
            descripcion.style.maxHeight = descripcion.scrollHeight + 'px'; /* Altura máxima inicial */
            boton.innerHTML = 'Ver menos ↑';
          }
        }
        </script>
</body>
</html>