<article id="cartas" class="home-main-contenedor">
    <% for(let character of characters){ %>
<div class="home_card col-lg-4 col-md-6 mb-4">
    <div class="card">
        <img src="<%= character.thumbnail.path %>/portrait_fantastic.<%= character.thumbnail.extension %>" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= character.name %></h5>
          <% if (character.description && character.description.length > 100) { %>
            <p class="card-text"><%= character.description %></p>
            <button class="see-more" onclick="mostrarMas(this)">Ver más ↓</button>
          <% } else { %>
            <p class="card-text description"><%= character.description || '"Todavía no hay descripción disponible"' %></p>
          <% } %>
        </div>
      </div>
</div>
      <% } %>
    </article>


    <script>
      function mostrarMas(boton) {
        var cardBody = boton.parentNode; // Obtener el nodo padre del botón, que es el div con la clase "card-body"
        var descripcion = cardBody.querySelector('.card-text'); // Seleccionar directamente el párrafo con la descripción
        
        if (descripcion.style.maxHeight) {
          descripcion.style.maxHeight = null;
          boton.innerHTML = 'Ver más ↓';
        } else {
          descripcion.style.maxHeight = descripcion.scrollHeight + 'px'; /* Altura máxima inicial */
          boton.innerHTML = 'Ver menos ↑';
        }
      }
      </script>